:root {
  /* colors */
  --primary:rgb(21, 190, 134);
  --accent:rgb(10, 166, 172);
  --grey:#ddd;
  --white:#fff;

  /*  font colors */
  --colorText:#565360;
  --colorLabel:#908E9B;
  --colorDisabled:#E1DFE9;

  /* small font */
  --lengthSm1:0.25rem;
  --lengthSm2:0.5rem;
  --lengthSm3:0.75rem;

  /* medium font */
  --lengthMd1:1rem;
  --lengthMd2:1.25rem;
  --lengthMd3:1.5rem;

  /* large fonts */
  --lengthLg1:2rem;
  --lengthLg2:3rem;
  --lengthLg3:4rem;

}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: flex;
}
